body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://wallpaper.forfun.com/fetch/0b/0bc739968eeb709d8eebbdb132141cb8.jpeg'); 
    background-size: cover;
    background-position: center;
  }
  .navbar {
    display: flex;
    align-items: center;
    background-color: rgba(57, 64, 64, 0.7); 
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
  }
  h2,p{
    color: azure;
  }
  .navbar img {
    height: 40px; 
    position: absolute;
    left: 20px; 
  }
  .navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    flex: 1;
  }
  .navbar-menu a {
    
    color: rgb(239, 57, 91);
    text-decoration: none;
    padding: 10px;
  }
  .navbar-menu a:hover {
    background-color: #b29191;
    border-radius: 4px;
  }
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
  }
  .navbar-toggle div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }
  .navbar-menu.hidden {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 60px; 
  }
  .section {
    background: rgba(101, 143, 160, 0.8); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
  }
  .section h2 {
    margin-top: 0;
  }
  .section input {
    padding: 8px;
    margin: 5px 0;
    width: calc(100% - 20px); 
  }
  .section button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: #00ffe1;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
  }
  .section button:hover {
    background-color: #b31e00;
  }
  .section p {
    margin: 10px 0;
  }
  @media (max-width: 768px) {
    .navbar-menu {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      gap: 0; 
    }
    .navbar-menu a {
      padding: 15px;
      display: block;
      text-align: center; 
    }
    .navbar-toggle {
      display: flex;
    }
    .navbar img {
      display: none; 
    }
  }